@import url('./src/css/global.css');
@import url('./src/css/glitching.css');

.landing__background {
    /* ----- Image by Adria Garcia @ leonidasph ----- */
    background: url('./assets/images/adria-garcia-sarceda-O560d5Mnc04-unsplash.jpg')
        center / cover no-repeat;

    & h1 {
        font-family: var(--rubik-glitch);
        font-size: 4rem;
        text-transform: uppercase;
    }
}

/* ----- EVENTS ----- */

.events-wrapper {
    flex-direction: column;
    min-height: 100vh;
    width: 100%;

    & h2 {
        font-size: 1.75rem;
        font-weight: 700;
        margin: 6rem auto 1rem auto;

        @media only screen and (max-width: 800px) {
            text-align: center;
            font-size: 1.25rem;
        }
    }
}

.events__night-event {
    display: flex;
    width: 100%;

    & img {
        width: 65%;
        max-height: 550px;

        @media only screen and (max-width: 1150px) {
            flex-basis: 50%;
        }

        @media only screen and (max-width: 920px) {
            width: 100%;
        }
    }

    > div {
        flex-direction: column;
        align-items: flex-start;
        width: 35%;

        padding: 0 4rem 0 2rem;

        background: var(--dark-color);
        color: var(--light-color);

        & h3 {
            font-size: 1.5rem;
            font-weight: 700;
            text-transform: uppercase;
        }

        & a {
            color: var(--light-color);
            font-weight: 700;
        }

        & p {
            margin: 2rem 0;
        }

        @media only screen and (max-width: 1150px) {
            flex-basis: 50%;
        }

        @media only screen and (max-width: 920px) {
            padding: 4rem 2rem;
            width: 100%;
        }
    }

    @media only screen and (max-width: 920px) {
        flex-direction: column;
    }
}
