@import url('./global.css');

/* ----- ABOUT  ----- */

.about__background {
    /* ----- Image by Scott Webb @scottwebb ----- */
    background: url('../../assets/images/scott-webb-102825.jpg') center / cover
        no-repeat;
}

.about-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    margin: 2rem auto 0 auto;

    & h1 {
        text-align: center;
    }

    @media only screen and (max-width: 1000px) {
        width: 100%;
        margin: 0 1rem;
    }
}

.about-wrapper__items {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    margin: 1rem 0;
    width: 100%;

    & h2 {
        font-size: 1.5rem;

        @media only screen and (max-width: 1000px) {
            margin: 1rem 2rem;
        }
    }

    & p {
        margin: 1rem 0;
        @media only screen and (max-width: 1000px) {
            margin: 1rem 2rem;
        }
    }

    @media only screen and (max-width: 1000px) {
        flex-direction: column;
        margin: 2rem;
    }
}

.text-wrapper {
    flex-basis: 75%;
}

.contact-us-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 25%;

    width: 265px;

    padding: 1.75rem;

    background: var(--dark-color);
    color: var(--light-color);

    @media only screen and (max-width: 1000px) {
        width: 110%;
        margin: -1rem;
    }
}
.contact-us-wrapper span {
    font-weight: 700;
    text-transform: uppercase;
}

.contact-us-wrapper p {
    margin: 1rem 0 2.5rem 0;
}
.contact-us-wrapper a {
    background: var(--purple);
    color: var(--light-color);
    font-weight: 700;
    padding: 0.5rem 2rem;
    border-radius: 2px;
    text-decoration: none;
}

/* ----- PRACTICAL INFO  ----- */

.practical-info-wrapper {
    display: flex;
    flex-direction: column;

    margin-top: 4rem;
}

.practical-info-wrapper > div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;

    @media only screen and (max-width: 1000px) {
        grid-template-columns: 1fr;
        margin: 2rem auto;
        width: 90%;
    }
}

.practical-info-wrapper strong {
    font-weight: 700;
}

.practical-info-wrapper p {
    margin-top: 1rem;
}

/* ----- TARGET INFO  ----- */

.for-kids-wrapper {
    display: flex;
    margin-top: 4rem;

    width: 100%;

    & img {
        flex-basis: 55%;
        max-height: 400px;
        object-fit: cover;
    }

    > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        flex-basis: 45%;
        padding: 2rem;
        background: var(--dark-color);
        color: var(--light-color);

        & h2 {
            margin-bottom: 1rem;
            font-size: 1.25rem;
            font-weight: 700;
            color: var(--blue);
            text-transform: uppercase;
        }

        & h3 {
            font-size: 1.25rem;
            margin-bottom: 1rem;
        }

        & p {
            margin-top: 1rem;
        }

        @media only screen and (max-width: 1000px) {
            padding: 4rem 2rem;
        }
    }

    @media only screen and (max-width: 1000px) {
        flex-direction: column;
    }
}

.for-adults-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 4rem auto 6rem auto;
    width: 70vw;
    gap: 2rem;

    h3 {
        font-size: 1.25rem;
        font-weight: 700;
        margin-bottom: 1rem;

        @media only screen and (max-width: 1000px) {
            text-align: center;
        }
    }

    @media only screen and (max-width: 1000px) {
        grid-template-columns: 1fr;
        margin: 2rem auto;
        width: 90%;
    }
}
