@import url('./global.css');

.contribution-hero__background {
    /* ----- Image by William Bout @ williambout ----- */
    background: url('../../assets/images/william-bout-264826.jpg') center /
        cover no-repeat;
}

.information-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    & h1 {
        align-self: center;
        text-align: center;
    }

    & h2 {
        font-size: 1.25rem;
        font-weight: 700;
        margin-top: 2rem;
    }

    & p {
        margin: 1rem 0;
    }

    & a {
        font-weight: 700;
        color: var(--dark-color);
    }

    @media only screen and (max-width: 850px) {
        margin: 0 2rem;
    }
}
