@import url('./reset.css');
@import url('./variables.css');

/* ----- FOOTER ----- */

.footer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 3rem 8rem;
    margin-top: 4rem;

    width: 100%;
    bottom: 0;
    left: 0;

    background: var(--dark-color);
    color: var(--light-color);

    & a {
        color: inherit;
        font-weight: 700;
    }

    @media only screen and (max-width: 800px) {
        padding: 3rem 2rem;
    }
}

/* ----- TOP SECTION ----- */

.info-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    & span {
        text-transform: uppercase;
        font-weight: 700;
    }
}

.info-wrapper > div {
    display: flex;
    flex-direction: column;

    @media only screen and (max-width: 800px) {
        justify-content: center;
        align-items: center;
        margin-top: 6rem;
        width: 100%;
    }
}

.info-wrapper > div p:nth-child(1),
.info-wrapper > div a:nth-child(1),
.info-wrapper > div > div input {
    margin-top: 1rem;
}

.info-wrapper__location {
    & a {
        margin-top: 0.5rem;
    }

    @media only screen and (max-width: 800px) {
        text-align: center;
    }
}

.info-wrapper__location a {
    display: flex;
    flex-direction: column;
}

.info-wrapper__opening-hours > div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.info-wrapper__quick-links a {
    display: flex;

    @media only screen and (max-width: 800px) {
        justify-content: center;
    }
}

.info-wrapper__newsletter .input-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--light-color);
    max-width: 250px;
}

.info-wrapper__newsletter input[type='email'] {
    padding: 0.75rem 0;

    background: transparent;

    font-size: 0.75rem;
    font-weight: 300;

    border: none;
}

.info-wrapper__newsletter input[type='email'] {
    width: 250px;
    max-width: 250px;
}

.info-wrapper__newsletter button[type='submit'] {
    background: transparent;
    border: none;
    cursor: pointer;
}

/* ----- BOTTOM SECTION ----- */

.info-wrapper-bottom {
    display: flex;
    justify-content: space-between;

    margin-top: 4rem;

    color: inherit;

    @media only screen and (max-width: 800px) {
        flex-direction: column-reverse;
        align-items: center;
        gap: 8rem;
    }
}

.info-wrapper-bottom .logo {
    display: flex;
    align-items: center;

    & img {
        width: 50px;
    }
}

.info-wrapper-bottom .text {
    margin-left: 0.5rem;
    text-transform: uppercase;

    & span {
        font-size: 1.25rem;
        font-weight: 700;
    }

    & p {
        font-size: 0.75rem;
    }
}

.info-wrapper-bottom__social-media {
    display: flex;
    gap: 1.5rem;

    > div {
        display: flex;
        justify-content: center;
        align-items: center;

        padding: 1rem;

        height: 45px;
        width: 45px;

        border: 1px solid var(--light-color);
        border-radius: 50%;
        transition: 1s ease;
    }

    > div:hover {
        background: linear-gradient(270deg, #793fbb, #f2889b, #f4c87b, #97bae9);
        background-size: 800% 800%;

        -webkit-animation: gradientBg 5s ease infinite;
        -moz-animation: gradientBg 5s ease infinite;
        animation: gradientBg 5s ease infinite;

        height: 50px;
        width: 50px;
    }
}

@-webkit-keyframes gradientBg {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@-moz-keyframes gradientBg {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@keyframes gradientBg {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
